{% extends "general/layout.html" %}

{% block head_title %}Bienvenido a Task-Forge{% endblock %}

{% block page_content %}
    <h1>Tasks</h1>

<form method="POST" action=".">
    {% csrf_token %}
    <label for="title">Nombre de la tarea:</label>
    <input type="text" id="title" name="title" required>
    <input class="btn" type="submit" value="Crear tarea">
</form>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }} (Completed: {% if task.completed %}Yes{% else %}No{% endif %})
                <a href="{% url 'update-task' task.id %}">Update</a> |
                <a href="{% url 'delete-task' task.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No tasks available.</li>
        {% endfor %}
    </ul>

{% endblock %}