{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido a Task-Forge {% endblock %}

{% block page_content %}
<div class="containerrs">
  {% include '_includes/_messages.html' %}

  <h1>Perfil</h1>
  <p>Nombre: {{ profile.user.first_name }}</p>
  <p>Usuario: {{ profile.user.username }}</p>
  <p>Biografía: {{ profile.bio | default:"Sin rellenar" }}</p>
  <p>Fecha de nacimiento: {{ profile.birth_date | default:"Sin rellenar" }}</p>
  {% if profile == request.user %}
    <p><a href="{% url 'profile_update' %}">Editar</a></p>
  {% endif %}
</div>
{% endblock %}