<header>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/styles.css' %}">
  <div class="header_container">
    <p>TareasNaitor5000</p>
    <nav class="main-nav">
        <ul class="nav-list">
          <li><a href="{% url 'home' %}">Homepage</a></li>
          {% if not request.user.is_authenticated %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Registro</a></li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'my_profile' %}">Mi perfil</a></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
          {% endif %}
        </ul>
      </nav>
  </div>
</header>