<footer>
    <div class="footer-content">
        <p>Copyright 2025 ®  2023 Instagram Clone. All rights reserved. <a href="{% url "legal" %}">aviso legal</a> </p>
        <p>Follow us on social media!</p>
        <p>Task-Forge</p>
        <div class="social-media-links">
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
    </div>
</footer>

<style>
    footer {
        background-color: #2dcc27ff;
        color: #000000ff;
        padding: 5px;
        text-align: center;
        margin: 5px;
    }
    .footer-content {
        margin: 5px;
        padding: 5px;
    }
    .social-media-links a {
        margin: 5px;
        color: #000000ff;
        text-decoration: none;
        background-color: #d43c3cff;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;

    }