{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido a TareasNaitor5000{% endblock %}

{% block page_content %}
<div class="profile_container">
  {% include '_includes/_messages.html' %}
  {% csrf_token %}
  
  <h1>Perfil</h1>
    <p>Foto de perfil:</p>
      <p>
          {% if request.user.profile.profile_picture %}
              <img width="100" src="{{ request.user.profile.profile_picture.url }}" alt="">
          {% else %}
              No dispone de foto de perfil
          {% endif %}
      </p>
      <p>Nombre: {{ request.user.profile.first_name }} {{ request.user.profile.last_name }}</p>
      <p>Biografía: {{ request.user.profile.bio }}</p>
    
    <p><a href="{% url 'profile_update' %}">Editar perfil</a></p>

    <section class="tasks_section">
      <h2>Tareas</h2>
        <div class="row">
            <p><a href="{% url 'task_list' %}">Lista de tareas</a></p>
        </div>
        <div class="row">
          <p><a href="{% url 'task_create' %}">Crear nueva tarea</a></p>
        </div>
    </section>

    <section class="calendar_section">
      <h2>Clendario</h2>
        <div class="row">
          <p><a href="{% url 'calendar' %}">Calendario</a></p>
        </div>
    </section>
</div>
{% endblock %}