{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}task list{% endblock %}

{% block page_content %}

<div class="task_list_container">
    <div class="task_list_header">
        <h1 class="list_title">Mis Tareas</h1>
    </div>
    <div class="task_list_actions">
        {% for task in tasks %}
        <div class="task_details_page">
            <h2 class="list_subtitle">{{ task.title }}</h2>
            <p class="task_desc">{{ task.caption }}</p>
            <p clss="date">Creada el {{ task.created_at }}</p>
            <p>
                <a href="{% url 'task_update' task.pk %} " class="task_btn">Editar</a>
                <a href="{% url 'task_delete' task.pk %} " class="task_btn">Eliminar</a>
            </p>
        </div>
        {% empty %}
            <p>No hay tareas</p>
        {% endfor %}
    </div>
</div>
{% endblock %}