{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Nueva Tarea{% endblock %}

{% block page_content %}
<div class="task_create_container">
  {% include '_includes/_messages.html' %}

  <h1>Nueva Tarea</h1>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col-12 col-sm-6">
          {{ form.title|as_crispy_field }}
          {{ form.caption|as_crispy_field }}

        </div>
      </div>
      <button class="btn btn-secondary">Crear</button>
    </form>
</div>
{% endblock %}