<!-- tasks/task_delete.html -->
{% extends "general/layout.html" %}
{% block head_title %}Delete Task{% endblock %}

{% block page_content %}

<div class="task_delete_container">
    <h1>Delete Task</h1>
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <p>Seguro que deseas eliminar la tarea "{{ object.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary">Confirmar</button>
        </form>
        <a href="{% url 'task_list' %}">Cancel</a>
</div>
{% endblock %}